name: Release

on:
  workflow_dispatch:
    inputs:
      publishMS:
        description: "Publish to the Visual Studio Marketplace"
        type: boolean
        required: true
        default: true
      publishOVSX:
        description: "Publish to Open VSX"
        type: boolean
        required: true
        default: true
      publishGH:
        description: "Publish to GitHub Releases"
        type: boolean
        required: true
        default: true

permissions:
  contents: read

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    outputs:
      packageName: ${{ steps.setup.outputs.packageName }}
      tag: ${{ steps.setup.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node and restore cache
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Setup variables
        id: setup
        shell: pwsh
        run: |
          $json = Get-Content ./package.json -Raw | ConvertFrom-Json
          $tag = 'v{0}' -f $json.version
          $packageName = '{0}-{1}.vsix' -f $json.name, $json.version
          Write-Host "Tag: $tag"
          Write-Host "Package Name: $packageName"
          "tag=$tag" >> $GITHUB_OUTPUT
          "packageName=$packageName" >> $GITHUB_OUTPUT

      - name: Package VSIX
        run: |
          pnpm package --out ${{ steps.setup.outputs.packageName }}

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.setup.outputs.packageName }}
          path: ./${{ steps.setup.outputs.packageName }}
          if-no-files-found: error

  publishMS:
    name: Publish to VS Marketplace
    runs-on: ubuntu-latest
    needs: package
    if: github.event.inputs.publishMS == 'true'
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: ${{ needs.package.outputs.packageName }}
      - name: Publish to VS Marketplace
        run: npx vsce publish --packagePath ./${{ needs.package.outputs.packageName }} --pat ${{ secrets.VSCE_PAT }}

  publishOVSX:
    name: Publish to Open VSX
    runs-on: ubuntu-latest
    needs: package
    if: github.event.inputs.publishOVSX == 'true'
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: ${{ needs.package.outputs.packageName }}
      - name: Publish to Open VSX
        run: npx ovsx publish --packagePath ./${{ needs.package.outputs.packageName }} --pat ${{ secrets.OVSX_PAT }}

  publishGH:
    name: Publish to GitHub releases
    runs-on: ubuntu-latest
    needs: package
    if: github.event.inputs.publishGH == 'true'
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: ${{ needs.package.outputs.packageName }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          tag_name: ${{ needs.package.outputs.tag }}
          files: ${{ needs.package.outputs.packageName }}
          draft: false
          prerelease: false
